{% extends "layout.html" %}
{% block title %}
    Account
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h2>USERNAME:{{ username }}</h2>
        <hr>
        <h3>RECENT SEARCHES</h3>
        {% if recent %}
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>City</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in recent %}
                        <tr>
                            <td>{{h[0]}}</td>
                            <td>{{h[1]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There is no history to show</p>
        {% endif %}
        <hr>
        <i>Click to see all</i><a class="nav-link active" href="/history">HISTORY</a>
        <hr>
        <a class="btn btn-primary" href="/logout">LOG OUT</a>
    </div>
{% endblock %}

