{% extends "layout.html" %}

{% block title %}
    REGISTER
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="card shadow-sm p-4" style="width: 100%; max-width: 500px;">
            <form action="/register" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="rpassword" placeholder="Password Again" type="password">
                </div>
                <div class="container py-5 text-center">
                    <button class="btn btn-primary" type="submit" >REGISTER</button>
                </div> 
            </form>
        </div>
    </div>
{% endblock %}
